<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Lehman_Contracts>
			<version>0.1.0</version>
		</Lehman_Contracts>
	</modules>
	<admin>
		<routers>
			<contract_admin>
				<use>admin</use>
				<args>
					<module>Lehman_Contracts</module>
					<frontName>contracts</frontName>
				</args>
			</contract_admin>
		</routers>
	</admin>   
  <global>
    <models>
    	<lehman>
            <class>Lehman_Contracts_Model</class>
            <resourceModel>lehman_mysql4</resourceModel>
    	</lehman>
    	<lehman_mysql4>
    		<class>Lehman_Contracts_Model_Mysql4</class>
    		<entities>
    			<contract>
    				<table>lehman_contract</table>
    			</contract>
    		</entities>
    	</lehman_mysql4>
    </models>
    <resources>
        <contracts_setup>
            <setup>
                <module>Lehman_Contracts</module>
                <!-- <class>Lehman_Contracts_Model_Resource_Setup</class> -->
            </setup>
            <connection>
                <use>core_setup</use>
            </connection>
        </contracts_setup>
        <contracts_write>
            <connection>
                <use>core_write</use>
            </connection>
        </contracts_write>
        <contracts_read>
            <connection>
                <use>core_read</use>
            </connection>
        </contracts_read>
    </resources>
    <blocks>
        <!-- These need to match our Model Entities -->
        <contract>
            <class>Lehman_Contracts_Block</class>
        </contract>
    </blocks>
  </global>
  <adminhtml>
    <layout>
        <updates>
            <contracts>
                <file>contracts.xml</file>
            </contracts>
        </updates>
    </layout>
  </adminhtml>	
</config>