<?xml version="1.0"?>
<config>
	<tabs>
		<contracts translate="label">
			<label>Lehman Extensions</label>
			<sort_order>50</sort_order>
		</contracts>
	</tabs>

	<sections>
		<coperatives translate="label">
			<label>Cooperative Contracts</label>
			<tab>contracts</tab>
			<frontend_type>text</frontend_type>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<sort_order>100</sort_order>

			<groups>

				<general translate="label">
					<label>General Settings</label>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<sort_order>1</sort_order>
				</general>

			</groups>

		</coperatives>
	</sections>
</config>